/* ------------ COLORS ------------ */

$color_typography--default: #333;
$color_white: #fafafa;

$color_blue--default: #2196f3;
$color_blue--hover: #0d47a1;

$color_gray--light: #eeeeee;
$color_gray--dark: #757575;

$color_red--default: #f44336;
$color_red--secondary: #e91e63;
$color_background--primary: rgb(245, 245, 245);
$color_background--primary-opacity: rgba(245, 245, 245, 0.9);

$box-shadow--primary: 0 23px 36px rgba(0, 0, 0, 0.16),
  0 4px 14px rgba(0, 0, 0, 0.23);

$box-shadow--light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$border-radius--primary: 4px;
